*{
    margin: 0;
    padding: 0;
}

.container-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-search span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border: 0;
    border-radius: 4px;
    border: 1px solid #244aa8;
    background-color: #244aa8;
    color: #fff;
    
    margin-right: -1px;
    

}
.container-search .search {
    
    width: 100%;
    max-width: 250px;
    border: 1px solid #244aa8;
    border-radius:4px;
    padding: 10px;    
    outline: none;
    font-size: 18px;
}
.container-search .checkbox {
    margin: 0 10px 0 15px;
    width: 20px;
    height: 20px;
    font-size: 18px;
}


