/*:root {
    --primary-color: #34CB79;
    --title-color: #322153;
    --text-color: #6C6C80;
  }*/
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  body {
    display: flex;
    justify-content: center;
    background: #c0c0c011;
  
   
    
  }
  
  body, input, button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }
  /*
  h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: Ubuntu;
  }*/
  .header-title h1{
    font-size: 4.5em;
    margin-top: 20px;
    text-align: left;
    color: #fff;
    text-shadow: 1px 0 0 #244aa8, -1px 0 0 #244aa8, 0 1px 0 #244aa8, 0 -1px 0 #244aa8;
    
  }
  .header-title p{
    font-size: 2em;
    margin: 10px 0px 50px 0px;
    color: #244aa8;
    
  }
  .container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }